<div ng-controller="tuintracallupgamesCtrl" class="module tuintracallupgames">

  <div class='iframeLoading' ng-if="isBusy">
    <div class='transitionloader'>
    </div>
  </div>
  <koa-toolbar>
    <koa-icon-button icon="arrow-back" ng-click="backButton()"></koa-icon-button>
    <koa-icon-button icon="search"></koa-icon-button>
  </koa-toolbar>

  <div role="listbox">
    <koa-item ng-repeat="game in games" ng-click="selectGame('{{game._id}}')">
      <koa-item-body>
        <div>{{game.local.name}}</div>
      </koa-item-body>
      <div class="avatar">
        <img src='{{game.local.shield[100]}}' item-icon>
      </div>
      <koa-item-body two-line>
        <div>{{game.date | date:"dd/MM/yyyy HH:mm"}}</div>
        <div secondary>{{game.facility}}</div>
      </koa-item-body>
      <div class="avatar">
        <img src='{{game.away.shield[100]}}' item-icon>
      </div>
      <koa-item-body>
        <div>{{game.away.name}}</div>
      </koa-item-body>
    </koa-icon-item>
  </div>

  <div ng-if="tuintracallupgames.message">
    {{tuintracallupgames.message}}
  </div>


</div>
